* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(90deg, #fd736ca4 0%, #ff9068bb 100%);
  font-family: 'Inconsolata', monospace;
}

body, .game {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game { 
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.26);
  padding: 25px;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5em;
}

.game__input {
  width: 350px;
  margin: 10px 0;
  padding: 5px 15px;
  font-size: 1.25em;
}

.game__life {
  width: 35px;
  height: 35px;
  transition: 0.5s ease;
}

.game__life:hover {
  transform: scale(1.2);
  filter: brightness(1.1);
}

.game__life, .game__guess-button {
  cursor: pointer;
}

.game__guess-button {
  padding: 5px 25px;
}